@model Tutoronic.Response.GetCourseByIdResponse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>SubCategory Name</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.SubCategoryName)
        </dd>
        <dt>
            <b>Course Name</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            <b>Course Description</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseDescription)
        </dd>

        <dt>
            <b>Course Image</b>
        </dt>

        <dd>
            <img src="@Url.Content(Model.Course.CourseImage)" height="250" width="250" />
        </dd>

        <dt>
            <b>Course Price (0 For Free)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CoursePrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Course.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
