@model Tutoronic.Response.GetAllCourseResponse
@using Tutoronic.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="/Cours/create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Subcategory
        </th>
        <th>
            Teacher Name
        </th>
        <th>
            Course Name
        </th>
        <th>
            Description
        </th>
        <th>
            Image
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>


    @foreach (var course in Model.Courses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => course.SubCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.TeacherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.CourseDescription)
            </td>
            <td>
                <img src="@Url.Content(course.CourseImage)" height="120" width="120" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.CoursePrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = course.CourseId }) |
                @Html.ActionLink("Details", "Details", new { id = course.CourseId }) |
                <button class="btn btn-primary"><a href="@Url.Action("index","course_video",new { id=course.CourseId})">Add Videos</a></button>
            </td>
        </tr>
    }

</table>
