@model Tutoronic.Response.GetAdminByIdResponse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Name</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.AdminName)
        </dd>

        <dt>
            <b>Email</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.AdminEmail)
        </dd>

        <dt>
            <b>Password</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.AdminPassword)
        </dd>

        <dt>
            <b>Image</b>
        </dt>

        <dd>
            <img src="@Url.Content(Model.Admin.AdminPic)" height="120" width="120" />
        </dd>

        <dt>
            <b>Address</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.AdminAddress)
        </dd>

        <dt>
            <b>Contact</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.AdminContact)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Admin.AdminId }) |
    @Html.ActionLink("Back to List", "AllAdmins")
</p>
