@model Tutoronic.Response.GetSubCategoryByIdResponse
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_adminpanel.cshtml";
}

<h2>Delete</h2>
@Html.Raw(TempData["errormsg"])

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Category Name</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.CategoryName)
        </dd>

        <dt>
            <b>SubCategory Name</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.SubCategoryName)
        </dd>

        <dt>
            <b>Image</b>
        </dt>

        <dd>
            <img src="@Url.Content(Model.SubCategory.SubCategoryImage)" height="300" width="300" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
