@model Tutoronic.Models.SubCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_adminpanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.cat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.cat_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subcat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subcat_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subcat_pic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subcat_pic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Subcat_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
