@model Tutoronic.Response.GetSubCategoryByIdResponse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_adminpanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Category Name</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.CategoryName)
        </dd>

        <dt>
            <b>SubCategory Name</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.SubCategoryName)
        </dd>

        <dt>
            <b>SubCategory Image</b>
        </dt>

        <dd>
            <img src="@Url.Content(Model.SubCategory.SubCategoryImage)" height="300" width="300" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategory.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
