@model IEnumerable<Tutoronic.Models.Course_video_comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course_Video.video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.student_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course_Video.video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.student_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Comment_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Comment_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Comment_id })
        </td>
    </tr>
}

</table>
