@model IEnumerable<Tutoronic.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_adminpanel.cshtml";
}

<h2>Categories</h2>

<p>
    <a href="/Categories/create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.cat_name
        </td>
        <td>
            <img src="@Url.Content(item.cat_pic)" alt="@item.cat_name" class="img-responsive" height="80" width="120" />
        </td>
        <td>
            <a href="@Url.Action("Edit","Categories", new { id = item.Category_id })" class="fa fa-edit"></a> |
            <a href="@Url.Action("Details","Categories", new { id = item.Category_id })" class="fa fa-book"></a> |
            <a href="@Url.Action("Delete","Categories", new { id = item.Category_id })" class="fa fa-remove"></a>
        </td>
    </tr>
}

</table>
