@model Tutoronic.Response.GetAllCategoryResponse

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_adminpanel.cshtml";
}

<h2>Categories</h2>

<p>
    <a href="/Categories/Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>
                @item.CategoryName
            </td>
            <td>
                <img src="@Url.Content(item.CategoryImage)" alt="@item.CategoryName" class="img-responsive" height="80" width="120" />
            </td>
            <td>
                <a href="@Url.Action("Edit","Categories", new { id = item.CategoryId })" class="fa fa-edit"></a> |
                <a href="@Url.Action("Details","Categories", new { id = item.CategoryId })" class="fa fa-book"></a> |
                <a href="@Url.Action("Delete","Categories", new { id = item.CategoryId })" class="fa fa-remove"></a>
            </td>
        </tr>
    }

</table>
